body {
  background-color: rgb(143, 141, 141);
  margin: 0;
  padding: 0;
}

.container {
display:flex;flex-direction: column;
align-items: center;
justify-content: center;
  background-color: rgb(7, 7, 7);
  padding: 5px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 12px 9px 8px rgb(145, 140, 144);
  width:399px;
  height: 800px;
 
}

.box {

  width:350px;
  background-color: rgb(150, 151, 151);
  border: 2px solid rgb(248, 245, 245);
  border-radius: 10px;
  
 
}

h3 {
 

  color: rgb(248, 250, 250);
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
  text-align: center;
 
}

img {
  
  width: 350px;
  height: 300px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 5px;
  
  

}

.li {
  word-wrap: normal;
  font-size: 20px;
  color: rgb(253, 253, 253);
  text-align: center;
 
}

.p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(16, 17, 17);
  font-style: bold;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin-left: 13px;
}

span {
  text-align:center;
  word-wrap: normal;
  color: rgb(15, 250, 250);
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
}
